@charset "UTF-8";

body{
        font-family: 'Roboto', sans-serif;
        font-size:1.3rem;
        line-height:1.2;
        background-color:#ffffff;
}

li{
        font-size:1.2rem;
}

footer p {
        line-height:20%;
}




@media (min-width:960px){

    h1 {
        font-size:2.5rem;
        font-family: 'Raleway', sans-serif;
    }

    article{
        width:950px;
        background-color:#4d5a6d;
        color:#add8e6;
        min-height:480px;
        padding:20px;
        margin-left:auto;
        margin-right:auto;
    }

    #navbar{
        list-style:none;
        margin-bottom:60px;
        margin-left:-65px;
        float:left;
        width:970px;
        padding:5px 54px 5px 12px;
        background-color:#ffffff;
    }

    #navbar li{
        font-size:1.1rem;
        float:left;
        margin-right:50px;
        margin-left:50px;
        position:relative;
    }

    #navbar a{
        display:block;
        padding:3px;
        background-color:#ffffff;
        color:#4d5a6d;
        text-decoration:none;
    }

    #navbar a:hover{
        text-decoration:none;
    }

    #navbar ul{
        display:none;
    }

    #navbar ul li{
        padding-top:5px;
        float:none;
        margin-left:-25px;
    }

    #navbar ul a{
        white-space:nowrap;
    }

    #navbar li:hover ul{
        display:block;
        list-style:none;
        position:absolute;
    }

    #navbar li:hover a{
        text-decoration:none;
        background-color:#e5e8e7;
        padding:3px;
    }

    #navbar li:hover ul a{
        text-decoration:none;
        margin-left:-15px;
        padding:3px 15px 3px 5px;
    }
    
    #navbar li:hover ul li a:hover{
        background-color:#ffd859;
    }
}


@media (max-width:959px){

    h1{
        font-size:1.5rem;
    }

    article{
        background-color:#313a47;
        color:#d8e7ff;
        min-height:480px;
        padding:5px;
    }
    
    a{
        font-size:1.5rem;
        text-decoration:none;
    }
    
    #navbar{
        list-style:none;
        background-color:#313a47;
        margin-bottom:10px;
    }
    
    #navbar li{
        position:relative;
        margin-left:-40px;
    }
    
    #navbar a{
        font-size:1.1rem;
        display:block;
        width:100%;
        padding: 5px;
        margin-bottom:3px;
        margin-left:-5px;
        color:#000000;
        background:#ffffff;
        text-decoration:none;
    }
    
    #navbar a:hover{
        text-decoration:none;
    }
    
    /* alter submenus in mobile devices */

    #navbar ul{
        display:none;
    }

    #navbar ul li{
        float:none;
        margin-left:-30px;
    }

    #navbar ul a{
        white-space:nowrap;

    }

    #navbar li:hover ul{
        display:block;
        list-style:none;
        position:absolute;
        /*width:94.6%;*/
    }

    #navbar li:hover a{
        text-decoration:none;
        background-color:#e5e8e7;
        padding:3px;
    }

    #navbar li:hover ul a{
        text-decoration:none;
        margin-left:-15px;
        padding:3px 15px 3px 5px;
    }
    
    #navbar li:hover ul li a:hover{
        background-color:#ffd859;
    }
}